{% extends "base.html" %}
{% import "_list.html" as list %}
{% macro period(name, data) %}
  <tr>
    <th>{{ name }}</th>
    <td>{{ data.0 }}</td>
    <td>{{ data.1 }}</td>
  </tr>
{% endmacro %}
{% block content %}
<div class="block">
  <h2>Settling Transfers</h2>

  {% match settle %}
    {% when Ok with (settle) %}
      {% if settle.len() == 0 %}
        <p>No need! The books are balanced!</p>
      {% else %}
        <p>To balance the books, the following transfers need to be made:</p>

        <table id="balance">
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
          </tr>
          {% for transfer in settle %}
            <tr>
              <td>{{transfer.0}}</td>
              <td>{{transfer.1}}</td>
              <td class="amount">{{transfer.2}}</td>
            </tr>
          {% endfor %}
          {% if let Some(net) = net %}
            <tr>
              <th colspan="2">
                {% if net.is_positive() %}
                  The group owes you:
                {% else %}
                  You owe the group:
                {% endif %}
              </th>
              <th class="amount">{{net.abs()}}</th>
            </tr>
          {% endif %}
        </table>
      {% endif %}
    {% when Err with (e) %}
      {% match e %}
        {% when SettleError::CollectiveDebt with (owes_list) %}
          <p>People still owe money:</p>
          <ul>
            {% for (id, amount) in owes_list %}
              <li>{{ id }} owes {{ amount }}</li>
            {% endfor %}
          </ul>
        {% when SettleError::CollectiveCredit with (owed_list) %}
          <p>People are still owed money:</p>
          <ul>
            {% for (id, amount) in owed_list %}
              <li>{{ id }} owes {{ amount }}</li>
            {% endfor %}
          </ul>
        {% endmatch %}
    {% endmatch %}
</div>

<div class="block">
  <h2>Totals</h2>

  <table id="totals">
    <tr>
      <td class="scope"></td>
      <th class="scope">Everyone</th>
      <th class="scope">My Share</th>
    </tr>
    {% call period("Total", totals.total) %}
    {% call period("Past year", totals.past_year) %}
    {% call period("Year to Date", totals.year_to_date) %}
    {% call period("Month to Date", totals.month_to_date) %}
    {% call period("Last month", totals.last_month) %}
  </table>
</div>

<div class="block">
  <h2>
    Your History
    <span class="see-all">
      <a href="{{ uri!(history_index()) }}">See all history</a>
    </span>
  </h2>

  <h3>Expenditures</h3>

  {% call list::list_expenditures(expenditures) %}

  <h3>Transfers</h3>

  {% call list::list_transfers(transfers) %}
</div>
{% endblock %}
